<div class= 'container'>
  <form action="/post" method= "post">
    Title<br>
    <input type= "text" name="post[title]"><br>
    Blog<br>
    <textarea name= "post[blog]" rows= 8 cols= 40></textarea><br>
    Tags<br>
    <input type= "text" name= "tags"><br><br>
    <input type= "submit" value= "new post!">
  </form>
</div>