<div class= 'container'>
  <form action="/post/edit_done" method= "post">
    Title<br>
    <input type= "text" name="post[title]" value= "Post.title"><br>
    Blog<br>
    <textarea name= "post[blog]" rows= 8 cols= 40 value= "Post.blog"></textarea><br>
    <input type= "submit" value= "Update post!">
  </form>
</div>