<div>
  <h2> USER PERSONAL PAGE</h2>
  <h3>Welcome <%= @user.name %></h3>
  <h2><a href= "/post/new">new post</a></h2>
  </form>
  <br><br>
  <form action= "/session/log_out" method= "get">
  <input type= "submit" value= "Log out">
  </form>
</div>